## Preprocessing Miller & Charles (1991)
This notebook preprocesses the Miller & Charles (1991) dataset. The data come from their article _Contextual correlates of semantic similarity_. I obtained this data from [Batchkarov et al. (2016)](https://github.com/mbatchkarov/repeval2016).

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('mc.txt', sep='\t', header=None)
df.head()

         0           1     2
0      car  automobile  3.92
1      gem       jewel  3.84
2  journey      voyage  3.84
3      boy         lad  3.76
4    coast       shore  3.70

In [11]:
df.columns = ['word1', 'word2', 'similarity_out_of_4']

In [12]:
df['similarity'] = 10 * df['similarity_out_of_4'] / 4

In [13]:
outfile = '../mc.csv'
df.to_csv(outfile, index=False)